<%-include('./partials/header') %>

<% if(pokomons.length > 0){ %> <% pokomons.forEach((pokomon) => { %>


<div class="row">
  <div class="column column1">
    <img class="img-1" src="https://via.placeholder.com/100" alt="placeholder" />
  </div>

  <div class="column" >
    <h1 class="navn"><%= pokomon.name %></h1>
    <br />
    <p>Abilities:</p>
    <p>1: <%= pokomon.ability1 %></p>
    <p>2: <%= pokomon.ability2 %></p>
    <p>3: <%= pokomon.ability3 %></p>
    <p class="forfatter"><em><%= pokomon.author %></em></p>
  </div>
</div>

<% }) %> <% } %> <%-include('./partials/footer') %>

<script>
  
</script>
